---
export const prerender = true;

import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import SocialProof from '../components/SocialProof.astro';
import MediaMentions from '../components/MediaMentions.astro';
import KitPreview from '../components/KitPreview.astro';
import WhyKiwiCo from '../components/WhyKiwiCo.astro';
import AgeLineup from '../components/AgeLineup.astro';
import KitGallery from '../components/KitGallery.astro';
import HowItWorks from '../components/HowItWorks.astro';
import ProductHighlights from '../components/ProductHighlights.astro';
import Awards from '../components/Awards.astro';
import Testimonials from '../components/Testimonials.astro';
import FAQ from '../components/FAQ.astro';
import PreRegisterForm from '../components/PreRegisterForm.astro';
import CTASection from '../components/CTASection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <SocialProof />
    <MediaMentions />
    <KitPreview />
    <WhyKiwiCo />
    <AgeLineup />
    <KitGallery />
    <HowItWorks />
    <ProductHighlights />
    <Awards />
    <Testimonials />
    <FAQ />
    <PreRegisterForm />
    <CTASection />
  </main>
  <Footer />
</Layout>
