---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import WhyKiwiCo from '../components/WhyKiwiCo.astro';
import HowItWorks from '../components/HowItWorks.astro';
import ProductHighlights from '../components/ProductHighlights.astro';
import FAQ from '../components/FAQ.astro';
import CTASection from '../components/CTASection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <main>
    <Hero />
    <WhyKiwiCo />
    <HowItWorks />
    <ProductHighlights />
    <FAQ />
    <CTASection />
  </main>
  <Footer />
</Layout>
